/* Layout Structure */
body > section {
  width: 100%;
  height: 100vh;
  max-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  width: 100%;
  height: calc(100vh - 120px);
  overflow: hidden;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

main .wrapper {
  width: 100%;
  height: 100%;
  display: none;
}

.wrapper.visible {
  display: flex;
  gap: max(1vh, 1.5vw);
}

/* Left and Right Sections */

main .left,
main .right {
  display: flex;
  flex-direction: column;
  gap: max(1vh, 1.5vw);
  padding: max(1.5vh, 1vw);
  width: 50%;
  height: 100%;
  overflow-y: auto;
}

/* Question and Statement Styles */
.left .statement {
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 2.5ch;
}

.statement.indented {
  margin-left: 8%;
}

main .right {
  gap: max(3vh, 2.5vw);
  font-size: 1.8rem;
  font-weight: 500;
}
.right img:hover, .right button:hover {
  transition: opacity 0.2s;
  cursor: pointer;
  opacity: 0.8;
}
.right .question {
  display: grid;
  grid-template-columns: 3fr 1fr;
  align-items: center;
}
.right .question img{
  justify-self: end;
  aspect-ratio: 1/1;
  height: 3ch;
  width: auto;
}
.right .options {
  display: flex;
  flex-direction: column;
  gap: max(3vh, 2.5vw);
}
.option {
  display: grid;
  align-items: center;
  grid-template-columns: 5fr 1fr;
}
.option > div {
  display: flex;
  align-items: start;
  gap: max(2vh, 1.5vw);
}
.option button {
  background-color: transparent;
  padding: 0 max(1vh, 0.7vw);
  border: 1px solid #505050;
  border-radius: 80px;
  font-size: 1.8rem;
}
.option button.selected {
  background-color: #5ea56b;
}
.option > div:nth-child(2) {
  height: 100%;
  align-items: start;
  justify-self: end;
}
.option img {
  position: relative;
  aspect-ratio: 1/1;
  width: 2ch;
  justify-self: end;
  z-index: 1;
}
.eye-slash {
  display: block;
  position: absolute;
  height: 3ch;
  width: 3px;
  float: right;
  background-color: #808080;
  transform: rotate(-55deg) translateX(0.8ch) translateY(0.2ch);
}

/*!Higlighting functionality*/

.underline-buttoner {
  background: none;
  text-decoration: underline;
  text-underline-offset: 0.2ch;
  font-weight: 500;
}
.yellow-highlighter {
  background: yellow;
  font-weight: 500;
}
.pink-highlighter {
  background: pink;
  font-weight: 500;
}
.orange-highlighter {
  background: orange;
  font-weight: 500;
}

.erase-text-styling {
  background: none !important;
  text-decoration: none;
  text-underline-offset: initial;
}

/* Scrollbar Styles */
html, body {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none;
}

/*Scrollbar styles*/
main .left::-webkit-scrollbar, main .right::-webkit-scrollbar {
  width: max(0.5vw, 8px);
}
main .left::-webkit-scrollbar-track, main .right::-webkit-scrollbar-track {
  background-color: #c6c6c6;
  border-radius: 10px;
}
main .left::-webkit-scrollbar-thumb, main .right::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 6px #767676;
}



