.top-bar {
  width: 100%;
  min-height: max(60px, 8vh);
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
  box-shadow: 0 6px 16px -12px #000;
  padding: max(1.2vh, 0.8vw) max(2vh, 1.5vw);
}

/*left side of the bar*/
.top-bar .left {
  justify-self: start;
  height: 80%;
  display: flex;
  align-items: center;
  gap: max(1vh, 0.7vw);
}

/*right side of the bar*/
.top-bar .right {
  height: 100%;
  justify-self: end;
  display: flex;
  align-items: center;
  gap: max(1vh, 0.7vw);
}
.top-bar .separator {
  height: 80%;
  width: 2px;
  background-color: #aeaeae;
}
.right .text-tools {
  height: 100%;
  display: flex;
  align-items: center;
  gap: max(0.5vh, 0.2vw);
}
.top-bar .tool-icon {
  aspect-ratio: 1/1;
  font-size: max(2.1vh, 1.8vw);
  height: 3ch;
  width: auto;
}
.top-bar .tool-icon:hover {
  cursor: pointer;
}
.tool-icon.selected {
  outline: 3px solid #727272;
}

.display-tools {
  height: 100%;
  display: flex;
  align-items: center;
  gap: max(0.5vh, 0.2vw);
}
.display-tools img {
  aspect-ratio: 1/1;
  font-size: max(2.1vh, 1.8vw);
  height: 3ch;
  width: auto;
  position: relative;
}
.display-tools img:hover {
  cursor: pointer;
}
/**Dropdown menu for display tools*/
.dropdown{
  position: absolute;
  min-width: 160px;
  display: none;
  flex-direction: column;
  padding: max(1.2vh, 1vw) max(1vh, 0.7vw);
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  background-color: #fff;
  z-index: 1;
}
.dropdown.active {
  display: flex;
}
.dropdown > div {
  display: grid;
  grid-template-columns: 4fr 1fr;
  padding: max(0.7vh, 0.4vw);
}
.dropdown > div span {
  font-size: max(1.3vh, 1vw);
  user-select: none;
}
.dropdown > div input {
  cursor: pointer;
}


.timing-tools {
  display: flex;
  align-items: center;
  gap: max(1.2vh, 0.8vw);
}
.timing-tools > div {
  display: flex;
  flex-direction: column;
  gap: max(0.5vh, 0.2vw);
}
.timing-tools > div span {
  font-size: max(1.6vh, 1.3vw); 
  font-weight: 500;
  user-select: none;
}
.time-bar-container {
  width: 100%;
  height: 6px;
  background-color: #d2d2d2;
}
.time-bar {
  width: 100%;
  height: 100%;
  background-color: #037101;
}
.timing-tools > img {
  aspect-ratio: 1/1;
  font-size: max(2.1vh, 1.8vw);
  height: 3ch;
  width: auto;
}
.timing-tools > img:hover {
  cursor: pointer;
  opacity: 0.8;
}

.notes-tools {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.notes-tools > img {
  aspect-ratio: 1/1;
  font-size: max(2.1vh, 1.8vw);
  height: 2.5ch;
  width: auto;
}